
.mySlides {display:none;}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #336666;
}

la {
float: left;
  
border-right: 1px solid #bbb;
}
la a {
display: block;
color: white;
text-align: center;
padding: 24px 26px;
text-decoration: none;
}

la a:hover {
background-color: #111;
}
body {font-family: sans-serif;}
p {color: balck;}

body {

  font-family: Verdana;
  background: linear-gradient(-45deg,  #7373B9, #408080);
}

#container {
  width: 960px;
  margin: auto;
  background-color: #F0F8FF;
}

h1 {
  text-align: center;
  font-size: 3em;
  color: #445566;
  font-family: Georgia, Times, Serif;
  font-weight: normal;
  margin: 0;
  padding: 20px;
}

h2 {
  color: #445566;
  padding: 0px;
}

h3 {
  color: #445566;
  margin: 0px;
}

h8{
  color: #445566;
  margin: 0px;
 float:right;
}

aside {
  width: 200px;

  border: 1px solid #10889E;
  float: left;
  margin-left: 30px;
  padding: 5px;
}

#main {
  width: 650px;

  float: right;
  margin-right: 30px;
  line-height: 30px;
}

footer {
  height: 50px;
  background-color: white;
  clear: both;
}

footer al {
  list-style: none;
  text-align: center;
  padding-top: 15px;
}

footer ai {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

footer ai a {
  color: black;
}

